.footer {
  background-color: #22493A;
  padding: 2em 1em;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrer les éléments horizontalement */
  flex-wrap: wrap; /* Pour s'adapter sur les petits écrans */
  text-align: center; /* Centrer le texte */
}

.footer-info, .footer-links, .footer-logos {
  flex: 1; /* Chaque section prend 1/3 de l'espace */
  min-width: 200px; /* Largeur minimale pour les petites résolutions */
  margin: 1em 0; /* Ajoute de l'espace vertical entre les sections */
}

.footer-info {
  color: white;
}

.contact-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer les éléments */
}

.contact-link:hover {
  text-decoration: underline;
}

.phone-icon {
  margin-right: 0.5em;
  width: 3.5em; /* Ajustez la taille selon vos besoins */
  height: auto;
}

.mail-icon {
  margin-right: 0.5em;
  width: 3.5em; /* Ajustez la taille selon vos besoins */
  height: auto;
}

.footer-links {
  display: flex;
  justify-content: center; /* Centrer les liens */
  align-items: center;
  gap: 1em; /* Espace entre les liens */
  color: white;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5em; /* Ajoutez un padding pour plus d'espace autour des liens */
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-logos {
  display: flex;
  justify-content: center; /* Centrer les logos */
  align-items: center;
}

.footer-logos img {
  width: 10em; /* Ajustez la taille selon vos besoins */
  height: auto;
  margin: 0 1em;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center; /* Centrer les éléments sur les petits écrans */
    text-align: center; /* Centrer le texte */
  }

  .footer-info, .footer-links, .footer-logos {
    margin: 1em 0; /* Ajoute de l'espace vertical entre les sections sur les petits écrans */
  }

  .footer-links {
    gap: 0.5em; /* Réduire l'espace entre les liens pour les petits écrans */
  }

  .footer-links a {
    font-size: 3.8vw; /* Taille de police ajustée pour les liens */
  }

  .phone-icon, .mail-icon {
    width: 3.2em; /* Ajuster la taille des icônes pour les petits écrans */
  }

  .footer-logos img {
    width: 8em; /* Ajustez la taille selon vos besoins */
  }
}
